<section class="about-us">
<div class="about-us__image-container">
    
</div>
    <div class=about-us__container>
        <h2 class="about-us__header">
            ABOUT US
        </h2>
        <h3 class="about-us__text-content">
            Interioris The Will
            of An Epoch Mextreo
        </h3>
        <p class="about-us__text">
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form injected
            humour, or randomised words which don't look even slightly
            believable.If you are going to use a passage of Lorem Ipsum,
            sure there isn't anything embarrassing hidden the middleof text.
            All the Lorem Ipsum generators on the Internettend to repeat
            predefined chunks as necessary,making this the first true
            generator on the Internet.
        </p>
    </div>
</section>