<section class="blog">
    <div class="container blog__container">
        <p class="blog__subtitle">letest news</p>
        <h2 class="blog__title">From Our Blog</h2>
        <ul class="blog__list list">
            <li class="blog__item">
                <img class="blog__image" src="./images/Interior4.png" alt="room interior" width="554">
                <h3 class="blog__title-item">2020 Interior Design Trends</h3>
                <p class="blog__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <a class="blog__btn link" href="">CONTINUE READING....</a>
            </li>
            <li class="blog__item">
                <img class="blog__image" src="./images/Interior5.png" alt="room interior" width="554"/>
                <h3 class="blog__title-item">28 Notable Product at ARC Interior Design</h3>
                <p class="blog__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <a class="blog__btn link" href="">CONTINUE READING....</a>
            </li>
        </ul>
    </div>
</section>