<!-- Completed work -->
<section class="container-cl completed-work__container">
    <h2 class="completed-work__h">3000+ Completed Work
        Which WE have Successfully Done</h2>
    <ul class="completed-work__list">
        <div class="completed-work__quantity-wrapper">
            <p class="completed-work__quantity">980<span class="completed-work__name">Project</span></p>
        </div>
        <div class="completed-work__quantity-wrapper completed-work__quantity-wrapper-even">
            <p class="completed-work__quantity">520<span class="completed-work__name">Happy Client</span></p>
        </div>
        <div class="completed-work__quantity-wrapper">
            <p class="completed-work__quantity">330<span class="completed-work__name">Winners</span></p>
        </div>
        <div class="completed-work__quantity-wrapper completed-work__quantity-wrapper-even">
            <p class="completed-work__quantity">120<span class="completed-work__name">Recoment</span></p>
        </div>

    </ul>
</section>