<!-- Completed work -->
<section class="completed-work__container">
    <h2 class="completed-work__h">3000+ Completed Work
        Which WE have Successfully Done</h2>
    <ul>
        <div>
            <p class="completed-work__quantity">980<span>Project</span></p>
        </div>
        <div>
            <p class="completed-work__quantity">520<span>Happy Client</span></p>
        </div>
        <div>
            <p class="completed-work-__quantity">330<span>Winners</span></p>
        </div>
        <div>
            <p class="completed-work-__quantity">120<span>Recoment</span></p>
        </div>

    </ul>
</section>