<footer class="footer">
  <div class="container">
    <div class="logo__wrapper">
      <a class="logo header__logo" href="#" aria-label="logo site">
        <img src="" alt="logo" width="152" height="48">
      </a>
      <p class="description">But i must explain to you all this mistaken idea of dencouncing pleasure.</p>
    </div>
    <div class="wrapper__quicl-links">
      <p class="text">Quick Links</p>
      <ul class="quick-links__list">
        <li class="quick-links__item">
          <a href="#" class="quick-links__link">About Our Company</a>
        </li>
        <li class="quick-links__item">
          <a href="" class="quick-links__link">Services WE provide</a>
        </li>
        <li class="quick-links__item">
          <a href="" class="quick-links__link">Career & Opportunity</a>
        </li>
        <li class="quick-links__item">
          <a href="" class="quick-links__link">Privacy & policy</a>
        </li>
        <li class="quick-links__item">
          <a href="" class="quick-links__link">Contact US</a>
        </li>
      </ul>
    </div>
    <div class="wrapper__company">
      <p class="text">Company</p>
      <ul class="company__list">
        <li class="company__item">
          <a href="#" class="company__link">About Company</a>
        </li>
        <li class="company__item">
          <a href="" class="company__link">Our Testimonials</a>
        </li>
        <li class="company__item">
          <a href="" class="company__link">Latest News</a>
        </li>
        <li class="company__item">
          <a href="" class="company__link">Our misson</a>
        </li>
        <li class="company__item">
          <a href="" class="company__link">Get a free Quot</a>
        </li>
      </ul>
    </div>
    <div class="wrapper__contact-us">
      <p class="text">Contact us</p>
      <ul class="contact-us__list">
        <li class="contact-us__item">
          <a href="#" class="contact-us__link">Sagrada Familia, Herba</a>
        </li>
        <li class="contact-us__item">
          <a href="#" class="contact-us__link">Street Front USA</a>
        </li>
        <li class="contact-us__item">
          <a href="mailto:brandoxide@gmail.com" class="contact-us__link">brandoxide@gmail.com</a>
        </li>
        <li class="contact-us__item">
          <a href="tel:002-568423591" class="contact-us__link">002-568423591</a>
        </li>
      </ul>
    </div>
    <div class="wrapper__social">
      <p class="text">Follow Us</p>
      <ul class="social__list">
        <li class="social__list">
          <a href="#" class="social__link">
            <svg class="social__icon">
              <use href=""></use>
            </svg>
          </a></li>
        <li class="social__list">
          <a href="#" class="social__link">
            <svg class="social__icon">
              <use href=""></use>
            </svg>
          </a></li>
        <li class="social__list">
          <a href="#" class="social__link">
            <svg class="social__icon">
              <use href=""></use>
            </svg>
          </a></li>
        <li class="social__list">
          <a href="#" class="social__link">
            <svg class="social__icon">
              <use href=""></use>
            </svg>
          </a></li>
      </ul>
    </div>
  </div>
</footer>