<!-- Subscribe -->

<section>
  <div class="container">
    <h2 class="subscribe-title">DON’T FORGET TO SIGN UP</h2>
    <hr class="subscribe-line" width="461" size="1" color="#C4C4C4" />
    <p class="subscribe-description">Find out early about all upcoming promotions and new product releases with
      our newsletter.</p>
    <form class="subscribe-form">
      <input class="subscribe-form-input" type="email" placeholder="Enter your email address....." required>
      <button class="subscribe-form-btn" type="submit">SUBSCRIBE</button>
    </form>
  </div>
  
</section>


