.about-us {
    display: flex;
}
.container-margine {
    margin-right: 170px;
}

.about-us__header {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: #646464;
}

.about-us__text-content {
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 1.19;
color: #212121;
}

.about-us__text {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.67;
color: #646464;
}

.about-us__button {
    background-color: 
    rgba(55, 128, 107, 1);
    border: none;
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
}