.blog {
    text-align: center;
    background-color: #F8F8F8;
    padding-top: 94px;
    padding-bottom: 122px;
}

.container {
    width: 1920px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.blog__container {
    padding-left: 297px;
    padding-right: 242px;
}

.blog__subtitle {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #646464;
    margin-bottom: 20px;
    margin-top: 0;
}

.blog__title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    line-height: 28px;
    color: #111111;
    margin-bottom: 60px;
    margin-top: 0;
}

.blog__list {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    position: relative;
    width: calc(100% - 136px / 2);
    text-align: left;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: #212121;

    &::before {
        content: "";
        width: 554px;
        height: 387px;
        position: absolute;
        top: 16px;
        left: 16px;

        border: 2px solid #B0855B;
        border-radius: 100px 0px;
    }
}

.blog__item:not(:last-child) {
    margin-right: 136px;
}

.blog__image {
    position: relative;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 0px;
    margin-bottom: 60px;
    z-index: 100;
}

.blog__title-item {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: #212121;
    margin-bottom: 18px;
    margin-top: 0;
}

.blog__description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #646464;
    margin-bottom: 44px;
    margin-top: 0;
}

.blog__btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background: #37806B;
    border-radius: 25px 0px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 270px;
    display: block;
    text-align: center;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}
    
.link {
    text-decoration: none;
}

