img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: #646464;
}

.footer{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 2.22;
  color: #646464;
}

.footer__container{
  background-color: #F8F8F8;
  width: 1400px;
  padding: 93px 27px 22px;
  margin: 0 auto;
}

.footer-up__wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 69px;
}

.logo__wrapper{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.footer__logo{
  margin-bottom: 15px;
}

.footer__description{
  margin: 0;
  line-height: 1.56;
}


.wrapper__quick-links{
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.footer__text{
  margin: 0 0 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.67;
  color: #212121;
}

.wrapper__company{
  margin-left: 102px;
}

.wrapper__contact-us{
  margin-left: 102px;
}

.wrapper__social{
  margin-left: 54px;
}

.social__list{
  display: flex;
}

.social__link{
  padding: 8px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #D5D5D5;
  transition: background-color 250ms linear;
}

.social__link:hover,
.social__link:focus{
  background-color: #37806B;
}

.social__item:not(:first-child){
  margin-left: 8px;
}

.footer-down__wrapper{
  position: relative;
}

.copyright{
  margin: 0;
  text-align: center;
  line-height: 1.39;
}

.copyright__accent{
  color: #37806B;
}

.copyright::before{
  position: absolute;
  top: -15px;
  left: -27px;
  content: "";
  display: block;
  width: 1400px;
  height: 1px;
  background-color: #C4C4C4;

}

